<div class="flex h-full w-full content-center justify-center items-center">
  <div class="flex w-100 content-center gap-7 justify-center items-center">
    <div>
      <mat-card *ngIf="currentMode === VIEW_MODE.READ" class="read-mode-card">
        <mat-card-title-group>
          <mat-card-title class="w-full">
            <div class="flex flex-row justify-between">
              <div class="flex gap-4 justify-start items-center">
                {{ item.title | ucwords }}{{ currentMode }}
                <mat-icon
                  class="bg-green-500"
                  *ngIf="item.isDone === TASK_STATE.DONE"
                  >check</mat-icon
                >
                <mat-icon
                  class="bg-red-500"
                  *ngIf="item.isDone === TASK_STATE.NOT_DONE"
                  >clear</mat-icon
                >
              </div>
              <div
                (click)="changeDate()"
                class="flex justify-end content-center"
              >
                <mat-icon>schedule</mat-icon>
              </div>
            </div>
          </mat-card-title>
          <mat-card-subtitle>{{
            item.levelOfImportance | importance
          }}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content id="read">
          <p>{{ item.description }}</p>
          <p>
            {{ item.startDate | date: "M/d/yy, h:mm a" }} -
            {{ item.endDate | date: "M/d/yy, h:mm a" }}
          </p>
          <p>{{ item.recurrency?.type | recurrency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="toggleMode(VIEW_MODE.READ)" mat-button>EDIT</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="currentMode === VIEW_MODE.EDIT">
      <app-edit-item
        [item]="item"
        (currentMode)="toggleMode($event)"
        (onCancel)="cancel()"
        (onSave)="save($event)"
      ></app-edit-item>
    </div>
  </div>
</div>
